html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family);
    font-weight: 200;
}