:root {
    --background: #f4f4f4;
    --background-rgb: 244 244 244;
    --foreground: #1c1c1c;
    --color-light-blue: #9DC7C8;
    --color-light-blue-rgb: 157, 199, 200;
    --color-dark-blue: #0B3C49;
    --color-yellow: #F4F482;
}