/** SQUARE SHAPES **/

.hero-shape-nav {
    width: 20%;
    height: 50%;
    left: 0%;
    bottom: 0%;
    background-color: var(--background);
    border-radius: 30px;
}

.hero-shape-nav-bg {
    width: 20%;
    height: 50%;
}

.hero-shape-square-right {
    background-color: var(--color-yellow);
    width: 80%;
    height: 100%;
    left: 20%;
    bottom: 0;
    border-radius: 30px;
}

.hero-shape-square-middle {
    background-color: var(--color-yellow);
    width: 40%;
    height: 50%;
    bottom: 25%;
    left: 10%;
    border-radius: 30px;
}

.hero-shape-square-left {
    background-color: var(--color-yellow);
    width: 40%;
    height: 50%;
    top: 0;
    left: 0;
    border-radius: 30px;
}

.hero-sidebar-items {
    background-color: var(--color-yellow);
}

@media (min-width: 1024px) {
    .hero-shape-nav {
        background-color: var(--background);
        width: 15%;
    }

    .hero-shape-nav-bg {
        width: 15%;
    }

    .hero-shape-square-right {
        width: 85%;
        left: 15%;
    }

    .hero-shape-square-middle {
        left: 10%;
    }

    .hero-shape-square-left {
        width: 85%;
    }
}

/* PHOTO */
.hero-photo-profile {
    height: 80%;
}

/* New hero */

@media (min-width: 1024px) {
    .hero-bg-circle {
        width: 160%;
        height: 200%;
    }
}

@media (min-width: 1400px) {
    .hero-bg-circle {
        width: 110%;
        height: 190%;
    }
}